body {
  background-image: url("https://github.com/hihiquan2010/researching_vietnamese_literature/blob/main/bgindex.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.icon i + .icon-text {
  display: none;
}

.icon:empty .icon-text,
icon-home i::before {
  content: none !important;
}

.icon:empty .icon-text {
  display: inline;
}
