body {
  background-image: url("/bgindex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.icon i + .icon-text {
  display: none;
}

.icon:empty .icon-text,
icon-home i::before {
  content: none !important;
}

.icon:empty .icon-text {
  display: inline;
}
